@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #050816;
  color: white;
}

.gradient {
  background: linear-gradient(
    135deg,
    #7f5af0,
    #2cb67d,
    #00c6ff
  );
}